.required {
    @extend .input-style;
    border: 2px solid rgb(216, 11, 11);
}

.required:focus {
    @extend .input-style;
    @extend .input-style-focused;
}

.default {
    @extend .input-style;
    border: 2px solid rgb(198, 197, 197);
}

.default:focus {
    @extend .input-style;
    @extend .input-style-focused;
}

.input-style {
    border-radius: 4px;
    background-color: rgb(108, 108, 108);
    color: white;
    padding: 2% 2%;
}

.input-style-focused {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
    border: 2px solid rgb(198, 197, 197);
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 2% 0%;
}

.label {
    color: var(--secondary);
    margin-bottom: 2.5%;
    font-size: 15px;
    font-weight: bold;
  }

.required-msg {
line-height: 1.5rem;
color: red;
font-weight: bold;
font-size: 100%;
}